spring:
  flyway:
    baseline-on-migrate: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/bonsaicorner?useTimezone=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
      format_sql: 'true'
      use_sql_comments: 'true'
      show_sql: 'true'
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

flyway:
  url: jdbc:mysql://localhost:3306/
  schemas: bonsai_corner
  user: root
  password: root